html {
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    background-color: #e9967a;
    padding: 0px;
    margin: 0px;
}

ul {
    display: none;
    list-style: none;
    padding: 10px;
    margin: 8px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #1b199d;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: darksalmon;
}

.header-logo {
    margin: auto;
}

.list-menu {
    display: flex;
}

.item-menu {
    margin: 0px 20px;
    position: relative;

}

.link-menu {
    font-size: 20px;
}

.header-icon {
    margin: auto;
}

.btn-login {
    padding: 10px 20px;
    background-color: pink;
    border-radius: 30px;
    border: 1px solid #ccc;
    color: #1b199d;
    font-size: 15px;
}

.btn-login:hover {
    background-color: #120ee7;
    color: #fff;
}

.list-con {
    position: absolute;
    padding: 0;
    display: none;
    bottom: -140px;
    left: -5px;
    background-color: #e9967a;
}

.item-menu:hover .list-con {
    display: block;
}

.item-con {
    padding: 4px 0px;
}

.list-con.list1 {
    width: 95px;
}

.list-con.list2 {
    width: 101px;
}

.list-con.list3 {
    width: 163px;
}

.slider img {
    height: 35rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body-menu {
    background-color: darksalmon;
    padding: 5px 5px;
    margin: 5px 42px;
}

.body-menu .List_menu {
    font-size: 20px;
}

.body-menu .List_menu ul {
    display: grid;
    list-style-type: disc;
}

.section div {
    padding: 20px 0;
}

.section a {
    display: block;
    height: 40px;
    width: -webkit-fill-available;
}

.section-menu a i {
    margin-left: 10px;
}

.main {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.body-text {
    width: 100%;
    background-color: #ffffff;
}

.body-text img {
    width: 50%;
}

.text-head {
    text-align: center;
    padding: 5px 5px;
    margin: 5px 5px;
}

.text-body {
    padding: 5px 69px;
    margin: 5px 0px;
    text-align: justify;
}

.text-body-con h2{
    padding-left: 0px;
}
.text-body-con h3{
    padding-left: 20px;
}

.text-body-con p{
    padding-left: 40px;
}